body {
    background-color: #6bbcbe;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@keyframes TurnAround {
    50% {
        transform: rotateZ(0.5turn);
    }
    100% {
        transform: rotateZ(00.5turn);
    }
}

.circlebox {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;
    animation: TurnAround 1s ease-in-out infinite;
}
.circle {
    background-color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
@keyframes BarMove {
    0% {
        transform: scaleY(1);
    }
    25% {
        transform: scaleY(2);
    }
    50%,
    100% {
        transform: none;
    }
}
.barout {
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.bar {
    align-items: center;
    background-color: white;
    height: 80px;
    width: 20px;
    animation: BarMove 1s ease-in-out infinite;
}

.bar:nth-child(2) {
    animation-delay: 0.1s;
}
.bar:nth-child(3) {
    animation-delay: 0.2s;
}
.bar:nth-child(4) {
    animation-delay: 0.3s;
}
.bar:nth-child(5) {
    animation-delay: 0.4s;
}
