body {
  background-color: whitesmoke;
  display: flex;
  height: 100vh;
  flex-direction: column;
}
h1 {
  text-align: center;
  margin: 30px 0px 50px 0px;
}
#main1,
#main2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box_size {
  height: 300px;
  width: 180px;
  margin: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small {
  width: 160px;
  height: 280px;
}
.text {
  background-color: white;
  padding: 0px 0px 10px 0px;
}
p {
  position: relative;
  top: 10px;
}
#Tomato {
  background-color: tomato;
}
#Teal {
  background-color: teal;
}
#Burlywood {
  background-color: burlywood;
}
#Thistle {
  background-color: thistle;
}
p:first-child {
  font-size: 20px;
  font-weight: 1000;
}
