@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;800&display=swap");

@import "reset.css";

/* Components */
@import "components/status-bar.css";
@import "components/singer-info.css";
@import "components/playlist.css";

/* Screens */
@import "screens/page1.css";
@import "screens/page2.css";

* {
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #f4f3f5;
}

.main-box {
    background-color: white;
    width: 380px;
    height: 880px;
    border-radius: 40px;
    padding: 36px 25px;
    position: relative;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.3);
}
